* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.header {
  width: 100%;
  position: relative;
}
.nav-item {
  list-style: none;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  transition: 0.7s ease;
  font-size: 18px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.navbar-img {
  /* height: 80px; */
  width: 250px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

.company-login {
  background-color: #ffffff;
  border: 1px solid #1d71bf;
  color: #1d71bf;
  font-size: 18px;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: bold;
}

.main {
  width: 70%;
  margin: auto;
}
.footer {
  width: 100;
  margin: auto;
}
.footer-main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-section1 {
  width: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  list-style: none;
}
.footer-list li {
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
}
.email-label {
  font-size: 18px;
  color: #505050;
  padding: 0;
  margin: 0;
}
.email {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
}
.phone-label {
  font-size: 18px;
  color: #505050;
  padding: 0;
  margin: 0;
}
.phone {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
}
.footer-section4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-button1 {
  background-color: #1d71bf;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 18px;
}
.footer-button2 {
  background-color: #1d71bf;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 18px;
}
.footer-button3 {
  background-color: #ffffff;
  color: #1d71bf;
  border: 1px solid #1d71bf;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 18px;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0px 50px;
  color: #505050;
}
.copyright-section2 {
  gap: 100px;
  display: flex;
  justify-content: space-between;
  color: #505050;
}

.copyright-section2 a {
  text-decoration: none;
  color: #505050;
}

.email-tos {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
